@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  *{
    scrollbar-width: thin; /* Can be "auto", "thin", or "none" */
    scrollbar-color: var(--gradient) transparent; /* Thumb and track color */
  }
  
  html{
    color-scheme: dark;
    --radius: 0.5rem;
    /* overflow-x: hidden; */
  }


@layer components {
  .search-results-container:hover .search-results-item:not(:hover){
    opacity: .5;
    transform: scale(0.98);
  }

}}