@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html{
    color-scheme: dark;
    scrollbar-width: thin; /* Can be "auto", "thin", or "none" */
    scrollbar-color: var(--gradient) transparent; /* Thumb and track color */
    --radius: 0.5rem;
    /* overflow-x: hidden; */
  }

  html,.theme-00F5A0{
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    --gradient: #00F5A0;

    --background: 169 65% 3.84%;
    --foreground: 169 10% 97.4%;

    --muted: 169 50% 14.399999999999999%;
    --muted-foreground: 169 10% 54.8%;

    --popover: 169 45% 6.24%;
    --popover-foreground: 169 10% 97.4%;

    --card: 169 45% 6.24%;
    --card-foreground: 169 10% 97.4%;

    --border: 169 50% 14.399999999999999%;
    --input: 169 50% 14.399999999999999%;

    --primary: 169 100% 48%;
    --primary-foreground: 169 10% 4.8%;

    --secondary: 169 50% 14.399999999999999%;
    --secondary-foreground: 169 10% 97.4%;

    --accent: 169 50% 14.399999999999999%;
    --accent-foreground: 169 10% 97.4%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 169 10% 97.4%;

    --ring: 169 100% 48%;
  }

  .theme-F7941E{
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #F7941E;

    --background: 35 60.45% 4.4%;
    --foreground: 35 9.3% 97.75%;

    --muted: 35 46.5% 16.5%;
    --muted-foreground: 35 9.3% 55.5%;

    --popover: 35 46.4% 7.15%;
    --popover-foreground: 35 9.3% 97.75%;

    --card: 35 46.4% 7.15%;
    --card-foreground: 35 9.3% 97.75%;

    --border: 35 46.5% 16.5%;
    --input: 35 46.5% 16.5%;

    --primary: 35 93% 55%;
    --primary-foreground: 35 9.3% 5.5%;

    --secondary: 35 46.5% 16.5%;
    --secondary-foreground: 35 9.3% 97.75%;

    --accent: 35 46.5% 16.5%;
    --accent-foreground: 35 9.3% 97.75%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 35 9.3% 97.75%;

    --ring: 35 93% 55%;
  }

  .theme-9400D3{
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #9400D3;

    --background: 300 65% 3.36%;
    --foreground: 300 10% 97.1%;

    --muted: 300 50% 12.6%;
    --muted-foreground: 300 10% 54.2%;

    --popover: 300 45% 5.46%;
    --popover-foreground: 300 10% 97.1%;

    --card: 300 45% 5.46%;
    --card-foreground: 300 10% 97.1%;

    --border: 300 50% 12.6%;
    --input: 300 50% 12.6%;

    --primary: 300 100% 42%;
    --primary-foreground: 300 10% 97.1%;

    --secondary: 300 50% 12.6%;
    --secondary-foreground: 300 10% 97.1%;

    --accent: 300 50% 12.6%;
    --accent-foreground: 300 10% 97.1%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 300 10% 97.1%;

    --ring: 300 100% 42%;
  }

  .theme-EC6F66{
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #EC6F66;

    --background: 4 50.7% 5.28%;
    --foreground: 4 7.800000000000001% 98.3%;

    --muted: 4 39% 19.8%;
    --muted-foreground: 4 7.800000000000001% 56.6%;

    --popover: 4 49.4% 8.58%;
    --popover-foreground: 4 7.800000000000001% 98.3%;

    --card: 4 49.4% 8.58%;
    --card-foreground: 4 7.800000000000001% 98.3%;

    --border: 4 39% 19.8%;
    --input: 4 39% 19.8%;

    --primary: 4 78% 66%;
    --primary-foreground: 4 7.800000000000001% 6.6000000000000005%;

    --secondary: 4 39% 19.8%;
    --secondary-foreground: 4 7.800000000000001% 98.3%;

    --accent: 4 39% 19.8%;
    --accent-foreground: 4 7.800000000000001% 98.3%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 4 7.800000000000001% 98.3%;

    --ring: 4 78% 66%;
  }
  
  .theme-9EFBD3{
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #9EFBD3;

    --background: 164 59.800000000000004% 6.4%;
    --foreground: 164 9.200000000000001% 99%;

    --muted: 164 46% 24%;
    --muted-foreground: 164 9.200000000000001% 58%;

    --popover: 164 46.599999999999994% 10.4%;
    --popover-foreground: 164 9.200000000000001% 99%;

    --card: 164 46.599999999999994% 10.4%;
    --card-foreground: 164 9.200000000000001% 99%;

    --border: 164 46% 24%;
    --input: 164 46% 24%;

    --primary: 164 92% 80%;
    --primary-foreground: 164 9.200000000000001% 8%;

    --secondary: 164 46% 24%;
    --secondary-foreground: 164 9.200000000000001% 99%;

    --accent: 164 46% 24%;
    --accent-foreground: 164 9.200000000000001% 99%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 164 9.200000000000001% 99%;

    --ring: 164 92% 80%;
  }

  .theme-00cdac{
  /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #00cdac;

    --background: 181 65% 3.2%;
    --foreground: 181 10% 97%;

    --muted: 181 50% 12%;
    --muted-foreground: 181 10% 54%;

    --popover: 181 45% 5.2%;
    --popover-foreground: 181 10% 97%;

    --card: 181 45% 5.2%;
    --card-foreground: 181 10% 97%;

    --border: 181 50% 12%;
    --input: 181 50% 12%;

    --primary: 181 100% 40%;
    --primary-foreground: 181 10% 97%;

    --secondary: 181 50% 12%;
    --secondary-foreground: 181 10% 97%;

    --accent: 181 50% 12%;
    --accent-foreground: 181 10% 97%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 181 10% 97%;

    --ring: 181 100% 40%;
  }

  .theme-ff0844{
    --gradient: #ff0844;

    --background: -15 65% 4.16%;
    --foreground: -15 10% 97.6%;

    --muted: -15 50% 15.600000000000001%;
    --muted-foreground: -15 10% 55.2%;

    --popover: -15 45% 6.76%;
    --popover-foreground: -15 10% 97.6%;

    --card: -15 45% 6.76%;
    --card-foreground: -15 10% 97.6%;

    --border: -15 50% 15.600000000000001%;
    --input: -15 50% 15.600000000000001%;

    --primary: -15 100% 52%;
    --primary-foreground: -15 10% 5.2%;

    --secondary: -15 50% 15.600000000000001%;
    --secondary-foreground: -15 10% 97.6%;

    --accent: -15 50% 15.600000000000001%;
    --accent-foreground: -15 10% 97.6%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: -15 10% 97.6%;

    --ring: -15 100% 52%;
  }

  .theme-0ba360{
    --gradient: #0ba360;

    --background: 163 56.55% 2.72%;
    --foreground: 163 8.7% 96.7%;

    --muted: 163 43.5% 10.200000000000001%;
    --muted-foreground: 163 8.7% 53.4%;

    --popover: 163 47.6% 4.42%;
    --popover-foreground: 163 8.7% 96.7%;

    --card: 163 47.6% 4.42%;
    --card-foreground: 163 8.7% 96.7%;

    --border: 163 43.5% 10.200000000000001%;
    --input: 163 43.5% 10.200000000000001%;

    --primary: 163 87% 34%;
    --primary-foreground: 163 8.7% 96.7%;

    --secondary: 163 43.5% 10.200000000000001%;
    --secondary-foreground: 163 8.7% 96.7%;

    --accent: 163 43.5% 10.200000000000001%;
    --accent-foreground: 163 8.7% 96.7%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 163 8.7% 96.7%;

    --ring: 163 87% 34%;
  }

  .theme-fffbd5{
    --gradient: #fffbd5;

    --background: 58 65% 7.36%;
    --foreground: 58 10% 99.6%;

    --muted: 58 50% 27.6%;
    --muted-foreground: 58 10% 59.2%;

    --popover: 58 45% 11.96%;
    --popover-foreground: 58 10% 99.6%;

    --card: 58 45% 11.96%;
    --card-foreground: 58 10% 99.6%;

    --border: 58 50% 27.6%;
    --input: 58 50% 27.6%;

    --primary: 58 100% 92%;
    --primary-foreground: 58 10% 9.200000000000001%;

    --secondary: 58 50% 27.6%;
    --secondary-foreground: 58 10% 99.6%;

    --accent: 58 50% 27.6%;
    --accent-foreground: 58 10% 99.6%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 58 10% 99.6%;

    --ring: 58 100% 92%;
  }

  .theme-403B4A{
    --gradient: #403B4A;

    --background: 276 7.15% 2.08%;
    --foreground: 276 1.1% 96.3%;

    --muted: 276 5.5% 7.800000000000001%;
    --muted-foreground: 276 1.1% 52.6%;

    --popover: 276 62.8% 3.38%;
    --popover-foreground: 276 1.1% 96.3%;

    --card: 276 62.8% 3.38%;
    --card-foreground: 276 1.1% 96.3%;

    --border: 276 5.5% 7.800000000000001%;
    --input: 276 5.5% 7.800000000000001%;

    --primary: 276 11% 26%;
    --primary-foreground: 276 1.1% 96.3%;

    --secondary: 276 5.5% 7.800000000000001%;
    --secondary-foreground: 276 1.1% 96.3%;

    --accent: 276 5.5% 7.800000000000001%;
    --accent-foreground: 276 1.1% 96.3%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 276 1.1% 96.3%;

    --ring: 276 11% 26%;
  }
}

@layer components {
  .search-results-container{
    scrollbar-width: thin; /* Can be "auto", "thin", or "none" */
    scrollbar-color: var(--gradient) transparent; /* Thumb and track color */
  }
  .search-results-container:hover .search-results-item:not(:hover){
    opacity: .5;
    transform: scale(0.98);
  }
}